@import '../abstracts/_mixins';
@import '../abstracts/_variables';

.footer {

    @include flex (flex, row, space-between, center);
    background-color: map-get($map: $colores, $key: c-black);
    max-width: map-get($map: $estructura-pc, $key: max-width);
    border-radius: 1.3125em;
    padding: 1em 2em;
    margin: 0 auto 1em auto;

    &__h2 {
        color: map-get($map: $colores, $key: c-blue);
        font-weight: map-get($map: $fuentes, $key: f-bold);
        font-size: 1.5em; 
        padding: 1em 0;
    }
    &__a {
        font-weight: bold;
        color: map-get($map: $colores, $key: c-white);

        &:hover {
            color: map-get($map: $colores, $key: c-blue);
        }
    }
}