@import '../abstracts/variables';
@import '../abstracts/mixins';

.learning {
    background-image: url("../../assets/portatil.webp");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: map-get($map: $estructura-pc, $key: max-width);
    border-radius: 1.3125em;
    padding: map-get($map: $estructura-pc, $key: padding);
    margin: 1em auto;
    min-height: 80vh;
   
    &__h2 {
        color: map-get($map: $colores, $key: c-blue);
        font-weight: map-get($map: $fuentes, $key: f-bold);
        font-size: 3em; 
        padding: 1em
    }
    
    &__article{

        @include flex(flex, row, center, center);

        &__div {
            padding: 1em 4em;
            @include flex(flex, column, center, center);
        }

        &__ul {
            @include flex(flex, row, center, center);
            padding: 2em;
        }

        &__li {
            color: map-get($map: $colores, $key: c-white);
            padding: 0 2em 0 0;
            text-align: center;
        }

        &__img {
            width: 100%;
            height: auto;
            max-width: 6em;
            padding: 0 0 .4em 0;
        }

        &__h3 {
            color: map-get($map: $colores, $key: c-white);
            font-weight: map-get($map: $fuentes, $key: f-bold);
            padding: 0 0 1em 0;
        }

        
    }
}